.c-loader {
  display: inline-flex;
  align-items: center;
}

.c-loader__icon {
  margin-right: .5em;
  animation: c-loader__icon 2s linear infinite;
}

@keyframes c-loader__icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}