.c-members {
  background: $b-color-turquoise;
  padding-top: 4em;
  padding-bottom: 4em;

  @media screen and (max-width: 468px) {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .c-page__header {
    @media screen and (max-width: 812px) {
      justify-content: center;
    }

    .c-page__description {
      text-align: center;
    }
  }
}

.c-members--grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.c-members--grid .c-member {
  width: calc(25% - 4em);

  @media screen and (max-width: 812px) {
    width: calc(50% - 4em);
  }

  @media screen and (max-width: 468px) {
    width: 100%;
  }
}

.c-member {
  display: flex;
  flex-direction: column;
  margin: 2em;
  width: 20em;
}

.c-member__img {
  margin: 0 auto 1em auto;
  width: 100%;
}

.c-member__content {
  padding: 0 1em;

  @media screen and (max-width: 812px) {
    padding: 0;
  }
}

.c-member__name {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.c-member__role {
  color: $b-color-gray--primary;
  text-align: center;
}

.c-member__description {
  color: $b-color-gray--primary;
  margin-top: 1em;
  line-height: 1.5em;
}

.c-team--homepage {
  .c-team__inner {
    @media screen and (max-width: 468px) {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
  .c-team__headline {
    margin-bottom: 0;
  }
  .c-members--homepage {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: 468px) {
      padding-top: 0em;
    }
  }
}
