.c-help {
  background: $b-color-blue;
  color: $b-color-white;
}

.c-help__content {
  display: flex;
  align-items: center;
  padding: 2em 4em;

  @media screen and (max-width: 468px) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column; 
    align-items: flex-start;
  }
}

.c-help__icon {
  opacity: 0.5;
  margin-right: 0.5em;
}

.c-help__question {
  font-family: $avenir-next--bold, Avenir, Arial, sans-serif;
  font-size: 1.25em;
  margin-right: 2em;
  width: 17.5em;
  white-space: nowrap;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    margin-right: 0;
    width: auto;
  }
}

.c-help__buttons {
  display: flex;
  width: 100%;

  @media screen and (max-width: 1024px) {
    flex-direction: column; 
    margin-top: 1em;
  }

  .c-btn-text {
    @media screen and (max-width: 1024px) {
      width: 100%;

      &:after {
        margin-left: auto;
      }
    }
  }
}

.c-help__button {
  text-decoration: none;

  @media screen and (max-width: 1024px) {
    margin: .5em 0;
  }
  
  @media screen and (min-width: 1025px) {
    & + .c-help__button  {
      margin-left: 4em;
    }
  }
}