$b-color-marine-blue: #2E2F64;
$b-color-blue: #4DC7E9;
$b-color-deep-blue: #0D0220;
$b-color-turquoise: #ECFBFC;
$b-color-yellow: #FEF5A4;
$b-color-red: #E53419;

$b-color-black: #000000;
$b-color-gray--primary: #777777;
$b-color-gray--secondary: #CCCCCC;
$b-color-gray--tertiary: #F8F8F8;
$b-color-white: #FFFFFF;

$avenir-next--regular: 'Avenir Next LT Pro Regular';
$avenir-next--demi: 'Avenir Next LT Pro Demi';
$avenir-next--bold: 'Avenir Next LT Pro Bold';