.c-copyright {
  padding: 1em 4em;
  color: $b-color-gray--primary;

  @media screen and (max-width: 468px) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @media screen and (max-width: 812px) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.c-copyright__content {
  display: flex;
  align-items: center;
  font-size: .75em;

  @media screen and (max-width: 812px) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.c-copyright__nav {
  margin-left: 1em;

  @media screen and (max-width: 812px) {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.c-copyright__feedback-company {
  margin-left: auto;

  @media screen and (max-width: 812px) {
    margin-left: 0;
  }
}